/*========= BASE =======*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*========= HEADER & NAV =======*/
.header{
    width: 100%; /* 1 */
    position: fixed; /* 1 */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgreen;
}

.nav{
    display: none;
}

/*========= MAIN =======*/
.main{
    background-color: lightcoral;
}

/*-------- HOME --------*/
.home{
    
}